In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('COVID-19 vaccination_progress.csv')
df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
1,Albania,ALB,2021-01-11,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,Wales,NaN,2021-02-11,719954.0,715944.0,4010.0,32062.0,27897.0,22.83,22.71,0.13,8848.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
3308,Wales,NaN,2021-02-12,753669.0,749445.0,4224.0,33715.0,27743.0,23.90,23.77,0.13,8799.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
3309,Wales,NaN,2021-02-13,776224.0,771651.0,4573.0,22555.0,26285.0,24.62,24.47,0.15,8337.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
3310,Wales,NaN,2021-02-14,790211.0,784809.0,5402.0,13987.0,26206.0,25.06,24.89,0.17,8312.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
3311,Wales,NaN,2021-02-15,803178.0,795927.0,7251.0,12967.0,24418.0,25.47,25.24,0.23,7745.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...

In [3]:
df = df.fillna(0)

In [4]:
df.columns

Index(['country', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'daily_vaccinations_per_million',
       'vaccines', 'source_name', 'source_website'],
      dtype='object')

In [5]:
task1 = df[['country', 'vaccines']]
task1

      country                             vaccines
0     Albania                      Pfizer/BioNTech
1     Albania                      Pfizer/BioNTech
2     Albania                      Pfizer/BioNTech
3     Albania                      Pfizer/BioNTech
4     Albania                      Pfizer/BioNTech
...       ...                                  ...
3307    Wales  Oxford/AstraZeneca, Pfizer/BioNTech
3308    Wales  Oxford/AstraZeneca, Pfizer/BioNTech
3309    Wales  Oxford/AstraZeneca, Pfizer/BioNTech
3310    Wales  Oxford/AstraZeneca, Pfizer/BioNTech
3311    Wales  Oxford/AstraZeneca, Pfizer/BioNTech

[3312 rows x 2 columns]

In [6]:
#task1.to_dict(orient='list')

In [7]:
task1['country'].unique()

array(['Albania', 'Algeria', 'Andorra', 'Anguilla', 'Argentina',
       'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belgium',
       'Bermuda', 'Bolivia', 'Brazil', 'Bulgaria', 'Cambodia', 'Canada',
       'Cayman Islands', 'Chile', 'China', 'Costa Rica', 'Croatia',
       'Cyprus', 'Czechia', 'Denmark', 'Ecuador', 'Egypt', 'England',
       'Estonia', 'Faeroe Islands', 'Finland', 'France', 'Germany',
       'Gibraltar', 'Greece', 'Greenland', 'Guernsey', 'Guyana',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jersey', 'Kuwait', 'Latvia',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Maldives', 'Malta',
       'Mauritius', 'Mexico', 'Monaco', 'Morocco', 'Myanmar', 'Nepal',
       'Netherlands', 'Northern Cyprus', 'Northern Ireland', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Peru', 'Poland', 'Portugal',
       'Qatar', 'Romania', 'Russia', 'Saint Helena', 'Saudi Arabia',
       'Scotland', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland',
       'Turkey', 'Turks and Caicos Islands', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Wales'], dtype=object)

In [8]:
task1['vaccines'].unique()

array(['Pfizer/BioNTech', 'Sputnik V', 'Oxford/AstraZeneca',
       'Moderna, Oxford/AstraZeneca, Pfizer/BioNTech',
       'Oxford/AstraZeneca, Sputnik V',
       'Pfizer/BioNTech, Sinopharm/Beijing',
       'Oxford/AstraZeneca, Sinovac', 'Sinopharm/Beijing',
       'Moderna, Pfizer/BioNTech', 'Pfizer/BioNTech, Sinovac',
       'Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac',
       'Oxford/AstraZeneca, Pfizer/BioNTech',
       'Covaxin, Oxford/AstraZeneca', 'Sinovac',
       'Oxford/AstraZeneca, Sinopharm/Beijing',
       'Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V',
       'Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V',
       'Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/Beijing, Sinopharm/Wuhan, Sputnik V'],
      dtype=object)

In [9]:
uniques = task1.groupby(['country', 'vaccines']).size().reset_index(name='Freq')
uniques

,country,vaccines,Freq
0,Albania,Pfizer/BioNTech,31
1,Algeria,Sputnik V,2
2,Andorra,Pfizer/BioNTech,17
3,Anguilla,Oxford/AstraZeneca,10
4,Argentina,Sputnik V,50
...,...,...,...
86,Turks and Caicos Islands,Pfizer/BioNTech,30
87,United Arab Emirates,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",43
88,United Kingdom,"Oxford/AstraZeneca, Pfizer/BioNTech",65
89,United States,"Moderna, Pfizer/BioNTech",59
90,Wales,"Oxford/AstraZeneca, Pfizer/BioNTech",65

In [10]:
search = (uniques['vaccines'] == 'Pfizer/BioNTech')
#uniques[search]

In [11]:
search = (uniques['vaccines'] == 'Oxford/AstraZeneca')
#uniques[search]